/*
 * Style twaks
 * --------------------------------------------------
 */
body {
  padding-top: 70px;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px){
  
  .sidenav
		{
			position: absolute;
			top: 105px;
			
      width: 263px;
      overflow: hidden;
			left:100%; 
			padding:0;
	    }
		
		.sidenav.on
		{    
			overflow: hidden;
			width:263px;
			/*left:50%;*/
			border-color:red;
			-webkit-transition: all 2s ease 0s;
			-moz-transition: all 2s ease 0s;
			-o-transition: all 2s ease 0s;
			transition: all 2s ease 0s;
			z-index:5;
			
    }	
  
  

}
@media screen and (max-width: 520px) {
  .sidenav.on{
      overflow: hidden;
			width:263px;
			/*left:40%;*/
			border-color:red;
			-webkit-transition: all 2s ease 0s;
			-moz-transition: all 2s ease 0s;
			-o-transition: all 2s ease 0s;
			transition: all 2s ease 0s;
			z-index:5;
  }
}
